@charset "UTF-8";

.container{
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    align-content: space-around;

}

body {
    background-color:antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

h1 {
    background-color: darkgoldenrod;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    background-color: rgb(30, 44, 44);
    color: white;
    text-align: center;
}

h3 {
    color: rgb(72, 4, 4);
}

p {
    text-align: justify;
    color: rgb(40, 40, 40);
}